<html>
<head>
<script>
var start = 0;
var end = 0;

function add()
{
	var textBox = document.getElementById("ta");
	var pre=textBox.value.substr(0,start);
	console.log("++++++++++++++value:"+ textBox.value +"++++++++++++++++");
	var post=textBox.value.substr(end);
//	console.log("++++++++++++++pre:"+ pre +"++++++++++++++++");
//	console.log("+++++++++++++post:"+ post +"++++++++++++++++");
	textBox.value=pre+document.getElementById("inputtext").value+post;
}

function savePos(textBox)
{
	
	if(typeof(textBox.selectionStart)=="number")
	{
		start=textBox.selectionStart;
		end=textBox.selectionEnd;
	} 
	console.log("++++++++++++++start:"+start+"+++++++++++++++");
	document.getElementById("start").value=start;
	document.getElementById("end").value=end;
}
</script>
</head>
<body>
<form action="a.cgi">
	<table border="1" cellspacing="0"> 
		<tr>   
			<td>start:<input type="text" id="start" size="3"/></td>   
			<td>end:<input type="text" id="end"size="3"/></td>   
		</tr>   
		<tr>   
			<td colspan="2">   
			<textarea id="ta" onKeydown="savePos(this)" onKeyup="savePos(this)" onmousedown="savePos(this)" onmouseup="savePos(this)" onfocus="savePos(this)" rows="14"cols="50"></textarea>
			</td>
		</tr>
		<tr>
			<td><input type="text" id="inputtext"/>
			</td>
			<td><input type="button" onClick="add()"value="AddText"/>
			</td>
		</tr>
	</table>
</form>
</body>
</html>	
